@import url("reset.css");
@import url("../fonts/stylesheet.css");
@import url("ibg.css");

$orange: #F26522;
$yellow: #FFC20E;
$black: #1D1D1F;

:root {

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
        opacity: 0.5;
        cursor: auto;
        pointer-events: none;
    }
}


.container {
    max-width: 1310px;
    padding: 0 20px;
    margin: 0 auto;
}

.body {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.3;
    position: relative;
    width: 100%;
    height: 100%;

    &--lock {

        @media (max-width: 834.98px) {
            overflow: hidden;
        }
    }

}

.logo {
    width: 129px;
    height: 48px;
    display: block;
    background-size: contain;
}

.btn-application {}

// ===================================HEADER====================================//

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    &__container {
        min-height: 96px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        // margin-right: 110px;
        flex: 0 0 auto;
        margin-right: 35px;

    }

    &__menu {
        flex: 0 1 56.25%;

        @media (max-width: 834.98px) {
            flex: 0 0 auto;
        }
    }

    &__menu-list {

        @media (min-width: 834.98px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 35px;
            row-gap: 3px;
        }

        @media (max-width: 834.98px) {
            flex-direction: column;
            text-align: center;
            position: fixed;
            padding-top: 80px;
            top: -200%;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            width: 100%;
            height: 100%;
            transition: top 0.3s;
            color: white;
            z-index: 5;


            &--active {
                top: 0;
            }

        }

    }

    &__menu-item {
        @media (max-width: 834.98px) {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }

    &__menu-link {
        display: block;
        position: relative;
        padding: 11px 0;
        transition: text-decoration 0.3s;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            border-radius: 2px;
            height: 4px;
            bottom: 4px;
            left: 0;
            transform: scale(0);
            transition: all 300ms;
            background-color: $orange;
        }

        &:not(.header__menu-link--active):hover {
            &::before {
                transform: scale(1);
            }
        }

        &--active {
            font-weight: 600;
            background: url(../img/menu-circle.svg) no-repeat 50% 80%;
            background-size: contain;
        }

        @media (max-width: 834.98px) {
            display: inline-block;
            font-size: 30px;
        }
    }

    &__menu-icon {
        @media (max-width: 834.98px) {
            width: 32px;
            height: 24px;
            position: relative;
            z-index: 500;


            span,
            &:before,
            &:after {
                display: block;
                position: absolute;
                content: "";
                width: 100%;
                height: 4px;
                border-radius: 2px;
                background-color: $black;
                left: 0;
                transition: transform 0.3s ease-in;
            }

            span {
                top: 0;
            }

            &:before {
                top: 50%;
                transform: translateY(-50%);
            }

            &:after {
                bottom: 0;
            }

            &--active {
                position: fixed;
                top: 36px;
                right: 15px;

                span,
                &:before,
                &:after {
                    background-color: white;

                }

                span {
                    opacity: 0;
                }

                &::before {
                    transform: translateY(11px) rotate(135deg);
                    top: 5%;
                }

                &::after {
                    transform: translateY(-11px) rotate(-135deg);
                    top: 90%;
                }
            }

        }
    }

    &__btn {
        display: block;
        flex: 0 0 auto;
        padding: 11px 32px;
        margin-left: 35px;
        background-color: $orange;
        border-radius: 80px;
        font-weight: 600;
        color: white;
        transition: all 0.2s;
        text-align: center;
        white-space: nowrap;

        &:hover {
            box-shadow: 0px 4px 20px #F9A983;
            background-color: #EB5007;
        }

        &:active {
            background-color: #CE4200;
        }

        @media (max-width: 834.98px) {
            margin-left: 0;
            position: absolute;
            width: 62.6%;
            top: 714px;
            left: 50%;
            transform: translateX(-50%);
        }

        @media (max-width: 579.98px) {
            top: 514px;
        }

        @media (max-width: 479.98px) {
            top: 508px;
            width: 90%;
        }
    }
}

// ===================================MAIN-BLOCK====================================//


.main-block {
    width: 100%;
    overflow: hidden;

    @media (max-width:834.98px) {
        background: url("../img/bg-circle.svg") no-repeat;
        background-size: 834px;
        background-position: left 141px bottom 42px;
        height: 762px;
    }

    @media (max-width:575.98px) {
        height: 562px;
        background-position: left -20px bottom 42px;
    }

    @media (max-width:479.98px) {
        background: url("../img/bg-circle--small.svg") no-repeat;
        background-size: 700px;
        background-position: left -60px top -300px;
        height: 556px;
    }

    &__swiper {
        height: 700px;
        width: 100%;
        position: relative;

        background: url("../img/map.svg") 50% 50% no-repeat,
            linear-gradient(to right, $yellow 0%, $yellow 50%, white 50.1%);
        background-size: contain;
        background-blend-mode: multiply;

        @media (max-width:834.98px) {
            background: none;
            height: 700px;
        }

        @media (max-width:575.98px) {
            height: 500px;
        }
    }

    &__slide {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__image {
        position: absolute;


        @media (max-width:932px) {
            width: 90%;
        }
    }

    &__image--big {
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 834.98px) {
            display: none;
        }
    }

    &__image--small {
        display: none;

        @media (max-width: 834.98px) {
            display: block;
            width: 95%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @media (max-width: 479.98px) {
            display: none;
        }
    }

    &__image--extra-small {
        display: none;

        @media (max-width: 479.98px) {
            display: block;
            width: 95%;
            right: 0;
            top: 55%;
            transform: translateY(-50%);
        }
    }

    &__bottom-bar {
        position: absolute;
        width: 100%;
        bottom: 41px;
        left: 0;
        z-index: 50;

        @media (max-width: 834.98px) {
            display: none;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__social {
        display: flex;
        gap: 16px;

    }

    &__social-links {
        font-size: 0;
        display: block;
        width: 32px;
        height: 32px;
        background: no-repeat 50% 50%;
        background-size: contain;

        &:nth-child(1) {
            background-image: url("../img/icons/Socials/WhatsApp.svg");
        }

        &:nth-child(2) {
            background-image: url("../img/icons/Socials/YouTube.svg");
        }

        &:nth-child(3) {
            background-image: url("../img/icons/Socials/TikTok.svg");
        }
    }

    &__controls {
        display: flex;
        gap: 16px;
    }

    &__controls-button {
        font-size: 0;
        display: block;
        width: 32px;
        height: 32px;
        background: no-repeat 50% 50%;
        background-size: contain;
        cursor: pointer;
        position: static;
        margin: 0;

        &:after {
            content: none;
        }
    }

    &__controls-button-prev {
        background-image: url("../img/icons/Arrow/back.svg")
    }

    &__controls-button-next {
        background-image: url("../img/icons/Arrow/forward.svg")
    }
}

// ===================================TEXT-BLOCK====================================//

.text-block {
    padding: 124px 0 128px;
    overflow: hidden;

    @media (max-width: 834.98px) {
        padding: 104px 0 88px;
    }

    &__container {
        display: flex;
        align-items: flex-start;

        @media (max-width: 834.98px) {
            flex-direction: column;
        }
    }

    &__bg {
        width: 100%;
        height: 100%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $black;
            width: 50%;
            height: 100%;
            display: block;
            z-index: -5;

            @media (max-width: 834.98px) {
                content: none;
            }
        }



        @media (max-width: 834.98px) {
            background-color: $black;
            padding: 40px 0;
        }
    }

    &__header {
        font-weight: 700;
        font-size: 64px;
        line-height: 1.19;
        color: #FFC20E;
        flex: 1 1 66.171%;
        display: block;
        padding: 66px 80px 66px 0;
        border-radius: 0px 20px 20px 0px;
        background-color: $black;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            height: 180px;
            width: 2000px;
            bottom: -83px;
            right: -1917px;
            background:
                url("../img/drone1.svg") no-repeat 139px 73px,
                url("../img/dot-line1.svg") repeat-x 0 0;
            z-index: -10;

            @media (max-width: 834.98px) {
                content: none;
            }
        }

        @media (max-width: 834.98px) {
            padding: 0;
            margin-bottom: 16px;
            font-size: 50px;
        }

        @media (max-width: 479.98px) {
            font-size: 44px;
        }

        @media (max-width: 363.98px) {
            font-size: 30px;
        }
    }

    &__text-wrapper {
        flex: 1 1 33.829%;
    }

    &__text {
        padding-left: 20px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        @media (max-width: 834.98px) {
            padding-left: 0;
            color: white;
        }

        @media (max-width: 479.98px) {
            font-size: 16px;
        }
    }
}

// ===================================HOW-IT-WORKS====================================//


.how-it-works {
    overflow-x: hidden;
    padding-bottom: 405px;
    margin-bottom: -405px;

    &__container {}

    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: 834.98px) {
            flex-direction: column;
        }
    }

    &__content {
        width: 45.31%;

        @media (max-width: 834.98px) {
            width: 100%;
        }

        @media (max-width: 479.98px) {
            font-size: 16px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 34px;
        line-height: 1.29;
        color: $black;
        margin-bottom: 24px;

        @media (max-width: 479.98px) {
            font-size: 28px;
        }
    }

    &__list {
        counter-reset: item;
    }

    &__item {
        padding-left: 68px;
        position: relative;
        margin-bottom: 20px;
        min-height: 48px;
        vertical-align: middle;
        display: table;

        @media (max-width: 479.98px) {
            min-height: 40px;
        }

        span {
            display: table-cell;
            vertical-align: middle;
        }

        &::before {
            content: counter(item);
            counter-increment: item;
            font-weight: 700;
            font-size: 30px;
            line-height: 48px;
            display: block;
            width: 48px;
            height: 48px;
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            background: url(../img/ol--circle.svg) no-repeat 50% 50%;
            background-size: contain;

            @media (max-width: 479.98px) {
                font-size: 22px;
                background: url(../img/ol--circle-small.svg) no-repeat 50% 50%;
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
        }
    }

    &__text {
        @media (max-width: 834.98px) {
            margin-bottom: 16px;
        }

        position: relative;

        &::after {
            content: "";
            width: 195px;
            height: 90px;
            position: absolute;
            bottom: -110px;
            right: 0;
            background: url(../img/dot-line2.svg) no-repeat;

            @media (max-width: 970.98px) {
                bottom: -20px;
                right: -210px;
                transform: rotate(-30deg);
            }

            @media (max-width: 834.98px) {
                content: none;
            }
        }
    }

    &__video-wrapper {
        width: 49.21%;
        position: relative;

        @media (max-width: 834.98px) {
            width: 100%;
        }

        &::after {
            content: "";
            position: absolute;
            height: 405px;
            width: 2100px;
            background: url("../img/dot-line3.svg") no-repeat;
            display: block;
            right: -1966px;
            bottom: -350px;
            z-index: -10;

            @media (max-width: 834.98px) {
                content: none;
            }
        }
    }

    &__video {
        width: 100%;
        border-radius: 20px;
    }

    &__play-button {
        position: absolute;
        display: block;
        width: 96px;
        height: 96px;
        background: url(../img/Play.svg) no-repeat 50% 50%;
        font-size: 0;
        border: none;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--hidden {
            display: none;
        }
    }

}

// ===================================ADVANTAGES====================================//

.advantages {
    padding: 128px 0;
    overflow: hidden;
    @media (max-width: 834.98px) {
        padding: 88px 0;
    }

    &__title {
        font-weight: 700;
        font-size: 34px;
        line-height: 1.29;
        color: $black;
        margin-bottom: 24px;
    }

    &__card {
        padding-top: 200px;
        background: no-repeat 0 0;
        @media (max-width: 834.98px) {
            width: 100%;
            border-radius: 20px;
            padding: 224px 24px 24px;
            background: #F6F5F3 no-repeat 24px 24px;
        }

        &:nth-child(1){
            background-image: url("../img/cards/1.png");
        }
        &:nth-child(2){
            background-image: url("../img/cards/2.png");
        }
        &:nth-child(3){
            background-image: url("../img/cards/3.png");
        }
    }

    &__card-title-double-wrapper {
        display: table;
        height: 78px;
        @media (max-width: 1185.98px) {
            height:98px;
        }
        @media (max-width: 834.98px) {
            height: 78px;
        }
    }

    &__card-title-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    &__card-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 1.27;
        color: $black;
        @media (max-width: 479.98px) {
            font-size: 22px;
        }
    }

    &__card-text {
        @media (max-width: 479.98px) {
            font-size: 16px;
        }
    }
}